@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Style */
.display-flex{
    display: flex;
    
}
.text-primary{
    color:#FF900E
}
.text-grey{
 color: #424242;
}
.text-lightgrey{
 color: #727272;
}
.bg-light{
   background-color: rgba(213, 124, 21, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* Header Style */
/* Navbar Style */
.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
main > section{
margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner Style */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* Team and feature style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/* Feature Sec Style */
.features{
    gap: 100px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
 margin-bottom: 20px;
 border-radius: 8px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: opx;
    
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left:-100px;
    margin-top:-100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img{
width: 100%;
}

/* Some Facts Style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px ;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
 max-width: 540px;
}
/* sponsons style */
    .sponsor-info{
        max-width: 540px;
        margin: 50px auto;
        text-align: center;
    }
    .sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}
.footer{
    padding: 20px;
    max-width: 1440px;
    margin: 20px auto;
    margin-top: 130px;
    text-align: center;
    background-color: rgba(213, 124, 21, 0.1);
}


/* REsponsive Media Query */
@media screen and (max-width:576px){
.navbar,
.nav-link,
.teams,
.features{
    flex-direction: column;
    align-items: center;
}
.team-img-container,
.facts-container,
.sponsor-companies{
    grid-template-columns: 1fr;
}
.facts-container
{
    justify-items: center;
    gap: 24px;
}
.sponsor-companies{
    justify-items: center;
    gap: 40px;
}
.our-features{
    margin-left: 20px;
}
#experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}

}
/* Medium Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin:50px auto;
    }
    .sponsor-companies,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center ;
    }
    #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}
}
